<footer>
  <i class="fa fa-facebook" aria-hidden="true"></i>
  <i class="fa fa-instagram" aria-hidden="true"></i>
  <i class="fa fa-twitter" aria-hidden="true"></i>
  <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>

  <ul>
    <li>
        FAQ
    </li>
    <li>
        Contact
    </li>
    <li>
      T&Cs
    </li>
    <li>
        Press
    </li>    
    <li>
        Jobs
    </li>
    <li>
        Privacy
    </li>
  </ul>

  <p>© 2017  Ordo Inc.</p>
</footer>