<div id='nav-header'>
  <a href="/">
    <h1 id="logotype">
      Ordo
    </h1>
  </a>


  <!-- if user is logged in -->
  <nav>
    <ul>
      <li>
          <form action="current" method="GET">
              <input type="submit" value="Current Orders">
          </form>
        </form>
      </li>
      <li>
        <a href="/">Logout</a>
      </li>
    </ul>
  </nav>


</div>
