<div id='nav-header'>
  <a href="/">
    <h1 id="logotype">
      Ordo
    </h1>
  </a>

  <nav>
    <ul>
      <li>
        <a href="/">Profile</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
    

</div>