<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body id="charge-pg">

  <% include partials/_nav %>


    <div class="container">


      You successfully paid <strong>$15.00</strong>! <br>Thank you for using Ordo.
      
      

  </div><!--/container-->
  <% include partials/_footer %>
  </body>
</html>

