<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
      <div id='header'>
          <h1>Ordo</h1>
          <p>Quick & easy food orders</p>
          <div class="front-logins">
          <div class="login-btn">
              <input type="button" class="show-login" value="Login">
            </div>
            <div class="register-btn">
              <input type="button" class="show-register" value="Register">
            </div>
          </div>
      </div>

  <!-- <% include partials/_nav %> -->


    <div class="container">


      You successfully paid <strong>$15.00</strong>!
      

  </div><!--/container-->

  </body>
</html>

