<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
    <div class="container">
        
      <% include partials/_header %>
      
      
    <div class="login-form">
      <div class="close">X</div>
      <p>Login</p>
      <form class="login" action="/user/login" method="POST">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!-- /login-form -->
      
    <div class="registration-form">
      <div class="close">X</div>
      <p>Sign-up</p>
      <form class="register" action="/user/register" method="POST">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </div>
        <div>
          <label for="confirm-password">Confirm password:</label>
          <input type="password" name="confirm-password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!-- /registration-form -->
      
  <header>  
    <h1 id="logotype">Ordo</h1>
    <div class="login-btn">
      <input type="button" class="show-login" value="Login">
    </div>
    <div class="register-btn">
        <input type="button" class="show-register" value="Sign-up">
    </div>   
  </header>


  <h2>This HOMEPAGE shows restaurant list</h2>


    <!--loop through restaurant db -->
  <% results.forEach((restaurant) => { %>
    <div class="restaurant-preview">
      <p>Restaurant one info</p>
      
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.address %></p>
        
  
    </div>
  <% }) %>

  </div><!--/container-->
          
  </body>
</html>
