<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
    <div class="container">
        

  <h1 id="logotype">Ordo</h1>
      
  <h2>This HOMEPAGE shows restaurant list</h2>


  <!--loop through restaurant db -->

  <div class="restaurant-preview">
    <p>Restaurant one info</p>
  </div>

  </div><!--/container-->
          
  </body>
</html>
