<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
    <div class="container">
        
    <div id="login-form">
      <div class="close">X</div>
      <form class="login" action="/user-login" method="POST">
        <div>
          <label for="email">Email:</label>
          <input id="email" type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!--/user-login-->
      

  <header>  
    <h1 id="logotype">Ordo</h1>
    <div class="login-btn">
      <input type="button" id="show-login" value="Login"></header>
    </div>
  </header>


  <h2>This HOMEPAGE shows restaurant list</h2>


    <!--loop through restaurant db -->
    <div class="restaurant-preview">
      <p>Restaurant one info</p>
      <% results.forEach((restaurant) =>{ %>
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.address %></p>
        <!-- <img><%= restaurant.picture%></img> -->
      <% }) %>
    </div>


  </div><!--/container-->
          
  </body>
</html>
