<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>
    <div class="container">

    <div id="login-form">
      <div class="close">X</div>
      <form class="login" action="/user-login" method="POST">
        <div>
          <label for="email">Email:</label>
          <input id="email" type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>
    </div><!--/user-login-->


  <header>
    <h1 id="logotype">Ordo</h1>
    <div class="login-btn">
      <input type="button" id="show-login" value="Login"></header>
    </div>
  </header>


  <h2>This HOMEPAGE shows restaurant list</h2>


    <!--loop through restaurant db -->
    <div class="restaurant-preview">
      <p>Restaurant one info</p>
    </div>


      <h3>My Google Maps Demo</h3>
    <div id="map" style="width:70%;height:300px;"></div>


    <script type="text/javascript" src="/scripts/map.js"></script>



    <!-- <script type="text/javascript">
      function initMap() {


      var center = {lat: 43.6718, lng: -79.4668};
      var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: center
                });
        }

    </script> -->



    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDri5VzKdWxHuq8mQGVTt49oDxdqb_rasE&callback=initMap">
    </script>







  </div><!--/container-->

  </body>
</html>
