<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_head %>
  </head>

  <body>

      <% include partials/_nav %>

    <div class="container">

      <div class="payment-page">


      <h2>This is the PAYMENT page</h2>
      <br>
      <p>Amount: $15.00</p>
      <br>
      <p>Pay at the counter or </p>
      
        <form action="/user/charge" method="POST">
          <article>
          </article>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= keyPublishable %>"
            data-amount="1500"
            data-description="Ordo Payment"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>
      </div><!--/container-->
      <% include partials/_footer %>        
  </body>
</html>
