<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
      <% include partials/_header %>
    <div class="container">
        

  <h1 id="logotype">Ordo</h1>
      
  <h2>LIST OF HISTORY of past orders for the restaurant named <%= name %> </h2>



    
  </div><!--/container-->
          
  </body>
</html>
