<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
    <div class="container">
        

  <h1 id="logotype">Ordo</h1>
      
  <h2>INDIVIDUAL order page for the restaurant </h2>



    
  </div><!--/container-->
          
  </body>
</html>
