<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
      <% include partials/_header %>
    <div class="container">


  <h1 id="logotype">Ordo</h1>

  <h2>CURRENT ORDERS for user </h2>


    <!--loop through current orders -->
    <p>Restaurant One info</p>
    <% results.forEach((restaurant) => { %>
      <div class=" ">
        <h2><%=restaurant.item_name%></h2>
        <p><%=restaurant.item_description%></p>
        <h3><%=restaurant.price%></h3>
      </div>
    <% }) %>


  </div><!--/container-->

  </body>
</html>
