<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
      <% include partials/_header %>
  <% include partials/_nav %>
    <div class="container">


  <h2>PROFILE page for restaurant </h2>

    <section id="add-item">
      <p>Add an item to your menu</p>
      <form action="/restaurant/add-item" method="POST">
        <div class="item">
          <label>Name:</label>
          <input type="text" name="name">
        </div>
        <div class="item">
          <label>Description:</label>
          <input type="text" name="description">
        </div>
        <div class="item">
          <label>Price:</label>
          <input type="text" name="price">
        </div>
        <label for="dropdown">Category:</label>
        <select name="category">
          <option value="Snacks">Snacks</option>
          <option value="Snacks">Appetizer</option>
          <option value="Snacks">Main Dish</option>
          <option value="Snacks">Dessert</option>
          <option value="Snacks">Drinks</option>
        </select>
        <input type='submit' value="Save">
      </form>
    </section>

    <!-- loop through the restaurant's menu -->

    <div class="menu-item">
      <p>Restaurant one info</p>
      <li><%= results[0].item_name %>: <%=results[0].description%></li>
      <li><%=results[0].price%></li>

    </div>

     <!-- Id of res is results[0].id -->
    <a class="edit-menu" href="">Edit</a>


  </div><!--/container-->

  </body>
</html>
