<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant</title>
    <% include partials/_head %>
  </head>

  <body>
      <% include partials/_nav %>
    <div class="restaurant-login-page">
    <div class="container">


  
      <h1>Welcome to the restaurant sign-in page! Please login to edit your menu.</h1>
    


      <form class="restaurant-login" action="/restaurant/login" method="POST">
        <div>
              <label for="email">Email:</label>
          <input id="email" type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>


  </div><!--/container-->

  <footer>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
      <ul>
        <li>
            FAQ
        </li>
        <li>
            Contact
        </li>
        <li>
          T&Cs
        </li>
        <li>
            Press
        </li>    
        <li>
            Jobs
        </li>
        <li>
            Privacy
        </li>
      </ul>
    
      <p>© 2017 Ordo Inc.</p>
    </footer>
  </div>

  </body>
</html>
