<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant</title>
    <% include partials/_head %>
  </head>

  <body>

      <div id='nav-header'>
          <a href="/">
            <h1 id="logotype">
              Ordo
            </h1>
          </a>       
        
        </div>

    <div class="container restaurant-login-page">


  
      <h1>Welcome to the restaurant sign-in page! Please login to edit your menu.</h1>
    


      <form class="restaurant-login" action="/restaurant/login" method="POST">
        <div>
              <label for="email">Email:</label>
          <input id="email" type="email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
        </div>
        <input type="submit" value="Submit">
      </form>


  </div><!--/container-->

  <% include partials/_footer %>


  </body>
</html>
