<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <title>Home Page</title>
  </head>

  <body>
    <div class="container">
        

  <h1 id="logotype">Ordo</h1>
      
  <h2>CURRENT ORDERS FOR for restaurant </h2>


    <!--loop through current orders -->
    <div class=" ">
      <p>Restaurant one info</p>
    </div>

    
  </div><!--/container-->
          
  </body>
</html>
