<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User profile page | Ordo</title>
    <% include partials/_head %>
  </head>

  <body>
  <!-- <% include partials/_nav %> -->


  <div class="container">
        

  <h2>Hello User!</h2>

    Account information

    list current orders

    
    Your list of past orders
    ---display latest order

  </div><!--/container-->
          
  </body>
</html>
