/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: white; }

a {
  text-decoration: none;
  color: #009970;
  transition: .5s ease; }
  a:hover {
    color: #90146c; }

.show {
  display: block !important; }

body {
  font-family: "Lato", sans-serif;
  font-size: 120%; }

input {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700; }

.container p {
  line-height: 1.5; }

.container h1, .container h2, .container h3, .container h4, .container h5 {
  line-height: 1.2; }

body {
  color: #333;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

#nav-header,
#front-nav {
  width: 100%;
  height: 50px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.125);
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.97);
  color: #90146c;
  z-index: 500; }
  #nav-header h1,
  #front-nav h1 {
    font-size: 140%;
    padding: .4em 1em 0;
    font-family: "Playfair Display", serif;
    position: relative;
    z-index: 100;
    font-weight: bold;
    letter-spacing: .5px;
    float: left; }
  #nav-header a,
  #front-nav a {
    color: #90146c; }
    #nav-header a:hover,
    #front-nav a:hover {
      color: #009970; }
  #nav-header nav,
  #front-nav nav {
    float: right;
    font-size: 80%;
    margin: 1.2em; }
    #nav-header nav li,
    #front-nav nav li {
      display: inline-block;
      margin-left: 1.5em; }

.container {
  max-width: 90%;
  margin: 3em auto 0;
  padding: 1em;
  flex: 1 0 auto; }

footer {
  background: #630d4b;
  color: white;
  font-size: 85%;
  width: 100%;
  padding: 1em 1.5em 1em;
  overflow: hidden;
  text-align: center; }
  footer ul {
    margin: 1em 0 1.25em; }
  footer li {
    display: inline-block;
    margin: 0.5em 1em;
    font-style: italic; }
    footer li:hover {
      color: #009970;
      cursor: pointer; }
  footer p {
    margin-top: 1em;
    font-size: 90%; }
  footer .fa {
    font-size: 160%;
    margin: 0.1em .5em;
    transform: scale(1);
    transition: transform 0.5s ease; }
    footer .fa:hover {
      transform: scale(1.6);
      cursor: pointer; }

.login {
  max-width: 600px;
  margin: 0 auto; }
  .login input {
    width: 100%; }

.login-btn,
.register-btn {
  float: right; }

.login-form,
.registration-form,
.restaurant-login {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  margin: -7em auto;
  z-index: 100;
  max-width: 600px;
  min-height: 320px;
  background: rgba(88, 12, 67, 0.95);
  color: white;
  padding: 1em 2em;
  border-radius: 6px;
  box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.35); }
  @media (max-width: 600px) {
    .login-form,
    .registration-form,
    .restaurant-login {
      padding: 1em; } }
  .login-form div,
  .registration-form div,
  .restaurant-login div {
    margin: 1em 0; }
  .login-form input,
  .registration-form input,
  .restaurant-login input {
    width: 100%;
    border-radius: 3px;
    padding: .5em;
    border: #630d4b; }
  .login-form label,
  .registration-form label,
  .restaurant-login label {
    font-size: 80%; }
  .login-form input[type="submit"],
  .registration-form input[type="submit"],
  .restaurant-login input[type="submit"] {
    padding: .6em;
    width: 100px;
    color: #630d4b;
    font-weight: bold;
    cursor: pointer; }
    .login-form input[type="submit"]:hover,
    .registration-form input[type="submit"]:hover,
    .restaurant-login input[type="submit"]:hover {
      color: white;
      background: rgba(41, 10, 32, 0.8);
      background: #009970; }
  .login-form h3,
  .registration-form h3,
  .restaurant-login h3 {
    font-weight: 400;
    margin: 0;
    font-size: 130%;
    text-align: center; }
  .login-form .close,
  .registration-form .close,
  .restaurant-login .close {
    top: 0;
    right: 0;
    margin: .75em;
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 80%;
    font-family: sans-serif;
    background: #ddd;
    color: #580C43;
    border-radius: 4px;
    padding: 0 .4em 0.2em; }
    .login-form .close:hover,
    .registration-form .close:hover,
    .restaurant-login .close:hover {
      color: white;
      background: #009970; }

.login-form h3 {
  margin: 0 0 2em; }

.restaurant-login {
  display: block;
  position: static;
  box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.25);
  margin: 5em auto 0;
  min-height: 250px;
  background: #630d4b; }

.restaurant-preview {
  background: white;
  padding: 1em;
  margin: 1em;
  background: white; }

.front-header {
  background: url("/img/splash.jpg") center 32% no-repeat;
  background-size: cover;
  width: 100%;
  height: 325px;
  z-index: 90;
  color: white;
  text-align: center; }
  .front-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 325px;
    background-color: black;
    opacity: .7; }
  .front-header h1 {
    font-size: 500%;
    padding: .8em 0 0;
    font-family: "Playfair Display", serif;
    position: relative;
    z-index: 100;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.85); }
  .front-header p {
    position: relative;
    z-index: 88;
    font-family: "Playfair Display", serif;
    margin-top: 1em;
    font-size: 130%;
    text-shadow: 0px 1px 0px black; }

.front-logins {
  position: absolute;
  z-index: 200;
  cursor: pointer;
  margin: .6em;
  top: 0;
  right: 0; }
  .front-logins input {
    background: transparent;
    margin: .15em .5em;
    color: white;
    border: transparent;
    font-size: 90%;
    cursor: pointer; }
    .front-logins input:hover {
      color: #009970; }

#front-nav {
  display: none; }
  #front-nav .front-logins input {
    margin: .15em .5em;
    color: #90146c;
    font-size: 90%; }

.restaurant-login-page h1 {
  margin-top: 4em;
  text-align: center; }

#add-item {
  background: skyblue;
  padding: 1em; }
  #add-item p {
    font-style: italic; }
