html 
  box-sizing: border-box
  height: 100%
  width: 100%

*, *:before, *:after 
  box-sizing: inherit

body
  background: white
  height: 100%
  width: 100%
a
  text-decoration: none
  color: #1ab188
  transition: .5s ease
  &:hover
    color: #179b77

// Variables
$purple: #580C43

.show
  display: block !important