footer
  background: $darkPurple
  color: white
  font-size: 85%
  width: 100%
  padding: 1em 1.5em 1em
  overflow: hidden
  text-align: center
  ul
    margin: 1em 0 1.25em
  li
    display: inline-block
    margin: 0.5em 1em
    font-style: italic
    &:hover
      color: $green
      cursor: pointer
  p
    margin-top: 1em
    font-size: 90%
  .fa
    font-size: 160%
    margin: 0.1em .5em  
    transform: scale(1)
    transition: transform 0.5s ease
    &:hover
      transform: scale(1.6)
      cursor: pointer
