footer
  background: #630d4b
  color: white
  font-size: 85%
  width: 100%
  padding: 1em 1.5em 1em
  overflow: hidden
  text-align: center
  li
    display: inline-block
    margin: 1.5em 1em 1em
    font-style: italic
  p
    margin-top: 1em
    font-size: 90%
  .fa
    font-size: 160%
    margin: 0em .5em