.login
  max-width: 600px
  margin: 0 auto
  input
    width: 100%


.login-btn
  float: right

#login-form
  display: none
  position: absolute
  left: 0
  right: 0
  margin: 5em auto
  z-index: 100
  width: 600px
  height: auto
  background: skyblue
  color: white
  padding: 2em
  border-radius: 6px
