.restaurant-preview
  background: white
  padding: 1em
  margin: 1em
  background: white


#header
  background: url("/img/splash.jpg") center center no-repeat
  width: 100%
  height: 70px
  position: fixed
  background-size: cover
  box-shadow: -6px -6px 6px 8px rgba(0, 0, 0, 0.25)
  &:before 
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 70px
    background-color: black
    // background-image: linear-gradient(to bottom right,#002f4b,#dc4225)
    opacity: .45
  h1
    position: relative
    z-index: 100
    font-size: 280%
    padding: 0.1em 0 0
    font-weight: bold
    text-shadow: 0px 1px 0px rgba(black, .25)
    font-family: 'Playfair Display', serif
    color: white
    text-align: center
    // text-shadow: 2px 5px 6px rgba(255, 255, 255, .7), 0px -5px 35px rgba(255, 255, 255, 0.9)